In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('csv/njmin3.csv')

df.head()

,NJ,POST_APRIL92,NJ_POST_APRIL92,fte,bk,kfc,roys,wendys,co_owned,centralj,southj,pa1,pa2,demp
0,1,0,0,15.00,1,0,0,0,0,1,0,0,0,12.00
1,1,0,0,15.00,1,0,0,0,0,1,0,0,0,6.50
2,1,0,0,24.00,0,0,1,0,0,1,0,0,0,-1.00
3,1,0,0,19.25,0,0,1,0,1,0,0,0,0,2.25
4,1,0,0,21.50,1,0,0,0,0,0,0,0,0,13.00

In [8]:
df['fte'].value_counts()

18.00    27
15.50    24
24.00    24
20.50    23
23.00    22
         ..
11.25     1
18.75     1
29.05     1
9.75      1
41.25     1
Name: fte, Length: 117, dtype: int64