In [1]:
import pandas as pd
import statsmodels.api as sm

In [2]:
df = pd.read_csv('csv/njmin3.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NJ               820 non-null    int64
 1   POST_APRIL92     820 non-null    int64
 2   NJ_POST_APRIL92  820 non-null    int64
 3   fte              794 non-null    float64
 4   bk               820 non-null    int64
 5   kfc              820 non-null    int64
 6   roys             820 non-null    int64
 7   wendys           820 non-null    int64
 8   co_owned         820 non-null    int64
 9   centralj         820 non-null    int64
 10  southj           820 non-null    int64
 11  pa1              820 non-null    int64
 12  pa2              820 non-null    int64
 13  demp             768 non-null    float64
dtypes: float64(2), int64(12)
memory usage: 89.8 KB

In [3]:
df.head()

,NJ,POST_APRIL92,NJ_POST_APRIL92,fte,bk,kfc,roys,wendys,co_owned,centralj,southj,pa1,pa2,demp
0,1,0,0,15.00,1,0,0,0,0,1,0,0,0,12.00
1,1,0,0,15.00,1,0,0,0,0,1,0,0,0,6.50
2,1,0,0,24.00,0,0,1,0,0,1,0,0,0,-1.00
3,1,0,0,19.25,0,0,1,0,1,0,0,0,0,2.25
4,1,0,0,21.50,1,0,0,0,0,0,0,0,0,13.00

In [4]:
# Check if there is at least one null value in each column.
df.isnull().any()

NJ                 False
POST_APRIL92       False
NJ_POST_APRIL92    False
fte                 True
bk                 False
kfc                False
roys               False
wendys             False
co_owned           False
centralj           False
southj             False
pa1                False
pa2                False
demp                True
dtype: bool

In [5]:
# Fill missing values in the 'fte' and 'demp' columns with the mean of the column
df['fte'].fillna(df['fte'].mean(), inplace=True)
df['demp'].fillna(df['demp'].mean(), inplace=True)

In [6]:
# Extract independent variable(s) from the DataFrame ['NJ', 'POST_APRIL92', 'NJ_POST_APRIL92']
X = df.iloc[:,0:3].values

# Extract the dependent variable from the DataFrame ['fte']
Y = df.iloc[:,3].values

In [7]:
# Linear regression Part1
X_with_constant = sm.add_constant(X)
model = sm.OLS(Y, X_with_constant)
model1 = model.fit()
model1.summary(yname='FTE',
               xname = ('intercept', 'New Jersey', 'After April 1992', 'New Jersey after April 1992'))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    FTE   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     1.974
Date:                Sun, 03 Dec 2023   Prob (F-statistic):              0.116
Time:                        20:53:01   Log-Likelihood:                -2986.2
No. Observations:                 820   AIC:                             5980.
Df Residuals:                     816   BIC:                             5999.
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
intercept                      23.2728      1.041     22.349      0.000      21.229      25.317
New Jersey                     -2.8157      1.159     -2.430      0.015      -5.091      -0.541
After April 1992               -2.1108      1.473     -1.433      0.152      -5.001       0.780
New Jersey after April 1992     2.6810      1.639      1.636      0.102      -0.536       5.898
==============================================================================
Omnibus:                      232.659   Durbin-Watson:                   1.847
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              908.337
Skew:                           1.289   Prob(JB):                    5.72e-198
Kurtosis:                       7.465   Cond. No.                         11.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [8]:
# Linear regression Part2
X = df.loc[:,['NJ','POST_APRIL92','NJ_POST_APRIL92','bk','kfc','roys','wendys']].values

X_with_constant = sm.add_constant(X)
model = sm.OLS(Y, X_with_constant)
model2 = model.fit()
model2.summary(yname='FTE',
               xname = ('intercept'
                        , 'New Jersey'
                        , 'After April 1992'
                        , 'New Jersey after April 1992'
                        , 'Burguer King'
                        ,'KFC'
                        ,'Roys'
                        ,'Wendys'))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    FTE   R-squared:                       0.191
Model:                            OLS   Adj. R-squared:                  0.185
Method:                 Least Squares   F-statistic:                     31.95
Date:                Sun, 03 Dec 2023   Prob (F-statistic):           1.30e-34
Time:                        20:53:01   Log-Likelihood:                -2902.4
No. Observations:                 820   AIC:                             5819.
Df Residuals:                     813   BIC:                             5852.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
intercept                      17.6685      0.760     23.261      0.000      16.178      19.159
New Jersey                     -2.2349      1.050     -2.129      0.034      -4.296      -0.174
After April 1992               -2.1108      1.332     -1.585      0.113      -4.725       0.504
New Jersey after April 1992     2.6810      1.482      1.809      0.071      -0.229       5.591
Burguer King                    7.8991      0.465     16.978      0.000       6.986       8.812
KFC                            -2.7542      0.606     -4.546      0.000      -3.943      -1.565
Roys                            5.7370      0.559     10.271      0.000       4.641       6.833
Wendys                          6.7866      0.661     10.260      0.000       5.488       8.085
==============================================================================
Omnibus:                      300.626   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1848.909
Skew:                           1.530   Prob(JB):                         0.00
Kurtosis:                       9.690   Cond. No.                     2.79e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.65e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""