# Analyzing Spreadsheet Data with Python

IBM course - Analyzing Spreadsheet Data with Python

In [43]:
import pandas as pd

df_facilities = pd.read_excel('xls/Airport_Data.xlsx', sheet_name='Facilities')

df_facilities.sort_index(axis=1,inplace=True)

df_facilities.head()

,ARPElevation,ARPElevationMethod,ARPLatitude,ARPLatitudeS,ARPLongitude,ARPLongitudeS,ARPMethod,ATCT,ActivationDate,AirframeRepair,...,TieInFSSID,TieInFSSName,TieInFSSTollFreeNumber,TrafficPatternAltitude,TransientStorage,Type,UNICOMFrequencies,Ultralights,Use,WindIndicator
0,19,S,51-53-00.8954N,186780.8954N,176-38-32.9277W,635912.9277W,E,N,4/1/1949,NONE,...,CDB,COLD BAY,1-800-478-7250,NaN,HGR,AIRPORT,NaN,NaN,PU,Y
1,44,S,56-56-19.2870N,204979.2870N,154-10-57.2000W,555057.2000W,E,N,11/1/1979,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,AIRPORT,122.8,NaN,PU,Y
2,23,S,60-54-49.7150N,219289.7150N,161-29-35.9850W,581375.9850W,E,N,1/1/1968,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,AIRPORT,NaN,NaN,PU,Y-L
3,18,E,60-54-28.3130N,219268.3130N,161-26-06.2780W,581166.2780W,E,N,7/1/1966,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,SEAPLANE BASE,NaN,NaN,PU,N
4,39,E,60-54-10.4300N,219250.4300N,161-13-50.1000W,580430.1000W,E,N,7/1/1966,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,AIRPORT,NaN,NaN,PU,Y-L

In [44]:
df_facilities.shape

(751, 103)

### Question 1: What are the types for aviation facilities in Alaska?

In [45]:
df_facilities['Type'].value_counts()

AIRPORT          561
SEAPLANE BASE    138
HELIPORT          52
Name: Type, dtype: int64

In [46]:
df_facilities['Type'].unique()

array(['AIRPORT', 'SEAPLANE BASE', 'HELIPORT'], dtype=object)

### Question 2: Provide a table containing the information for all Seaplane Bases in Alaska

In [47]:
df_seaplane = df_facilities[df_facilities['Type'] == 'SEAPLANE BASE']

df_seaplane.head()

,ARPElevation,ARPElevationMethod,ARPLatitude,ARPLatitudeS,ARPLongitude,ARPLongitudeS,ARPMethod,ATCT,ActivationDate,AirframeRepair,...,TieInFSSID,TieInFSSName,TieInFSSTollFreeNumber,TrafficPatternAltitude,TransientStorage,Type,UNICOMFrequencies,Ultralights,Use,WindIndicator
3,18,E,60-54-28.3130N,219268.3130N,161-26-06.2780W,581166.2780W,E,N,7/1/1966,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,SEAPLANE BASE,NaN,NaN,PU,N
5,0,E,54-08-02.0400N,194882.0400N,165-46-42.1800W,596802.1800W,E,N,NaN,NONE,...,CDB,COLD BAY,1-800-478-7250,NaN,NaN,SEAPLANE BASE,NaN,NaN,PU,Y
8,7,E,59-16-26.3210N,213386.3210N,158-37-24.9210W,571044.9210W,E,N,1/1/1966,NONE,...,DLG,DILLINGHAM,LC842-5275,NaN,TIE,SEAPLANE BASE,NaN,NaN,PU,NaN
15,0,E,57-28-17.3770N,206897.3770N,153-48-55.2980W,553735.2980W,E,N,6/1/1963,NONE,...,ENA,KENAI,1-866-864-1737,NaN,NaN,SEAPLANE BASE,NaN,NaN,PR,N
24,20,E,61-07-59.0200N,220079.0200N,149-56-30.8400W,539790.8400W,E,N,6/1/2004,NaN,...,ENA,KENAI,1-866-864-1737,NaN,NaN,SEAPLANE BASE,NaN,NaN,PU,Y

### Question 3: What are the 5 highest aviation facilities in Alaska?

In [48]:
df_facilities[['ARPElevation']].sort_values(by = 'ARPElevation', ascending = False).head(n=5)

     ARPElevation
584          3984
630          3720
265          3620
582          3600
353          3530

### Question 4: What is the average elevation of aviation facilities?

In [49]:
df_facilities[['ARPElevation']].mean()

ARPElevation    425.932091
dtype: float64

### Question 5: What are the highest and lowest elevation values of the aviation facilities?

In [50]:
df_facilities[['ARPElevation']].max()

ARPElevation    3984
dtype: int64

In [51]:
df_facilities[['ARPElevation']].min()

ARPElevation    0
dtype: int64

### Exercise 5: Write to `xlsx` Files!

In [52]:
df_seaplane.to_excel('xls/seaplane.xlsx')